header {
    background: #7700FF;

    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: #8E2BFF;
                    }
                }
            }
        }
    }
}

.tp-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    // right: 0;
    background: #eee;
 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 10px;
    width:100px;   
 }



 .filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }
 