<button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>

<table style="width:100%" mat-table [dataSource]="dataList" matSort class="mat-elevation-z8">
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let dataList; columns: columnsToDisplay"></tr>

    <!-- Position Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef style="width:200px;">Title</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef style="width:350px;">Content</th>
        <td mat-cell *matCellDef="let element"> {{element.content}}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <a style="cursor: pointer;" (click)="openDialog('Update',element)">Edit</a> | 
          <a style="cursor: pointer;" (click)="openDialog('Delete',element)">Delete</a>  
        </td>
      </ng-container>
    
    <!-- row operation Column -->
    <!-- <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef style="width:80px;"> Operation </th>
        <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container> -->
</table>
<mat-paginator style="width: 100%;"
   [pageSizeOptions] = "pageSizeOptions"
   (page) = "pageOptionChange()">
   <!-- "pageEvent = pageOptionChange()" -->
</mat-paginator>
TODO action换成图片
<!-- [length] = "length"
[pageSize] = "pageSize" -->
<!-- showFirstLastButtons -->