<!-- <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button> -->

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>标题</th>
            <th>分类</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <!-- <tfoot>
        <tr>
            <th>Footer 1</th>
            <th>Footer 2</th>
            <th>Footer 3</th>
            <th>Footer 4</th>
            <th>Footer 5</th>
            <th>Footer 6</th>
        </tr>
    </tfoot> -->
    <tbody>
        <ng-container *ngFor="let article of dataList; let i=index">
            <tr>
                <td>{{i+1}}</td>
                <td>{{article.title}}</td>
                <td></td>
                <td>todo</td>
                <td>{{article.createTime | date:'yyyy-MM-dd'}}</td>
                <td></td>
            </tr>
        </ng-container>
    </tbody>
</table>

TODO action换成icon，并给提示

