// ul {
//     list-style-type: none;
//     margin: 0;padding: 0;

//     li {
//         background: rgb(238, 238, 238);
//         padding: 2em;
//         border-radius: 4px;
//         margin-bottom: 7px;
//         display: grid;
//         grid-template-columns: 60px auto;

//         p {
//             font-weight: bold;
//             margin-left: 20px;
//         }

//         img {
//             border-radius: 50%;
//             width: 100%;
//         }
//     }
// }

.tp-container {
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    // right: 0;
    min-height: 600px;
    background: #eee;
 }

 .tp-content {
     padding-left:30px;
     width: 80%;
     height: auto;
 }