  <div class="col-lg-3 m-auto" style="transform: translateY(50%);">
    <h1>系统登录</h1>

    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <label>
        账号：
        <input type="text" formControlName="username" class="form-control">
        <div *ngIf="submitted && messageForm.controls.username.errors" class="error">
          <div *ngIf="messageForm.controls.name.errors.required">请输入账号</div>
        </div>
      </label>
      <label>
        密码：
        <input type="password" formControlName="password" class="form-control">
        <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
          <div *ngIf="messageForm.controls.message.errors.required">请输入密码</div>
        </div>
      </label>
      <label>
        验证码：
        <input type="text" formControlName="verifyCode" class="form-control">
        <div *ngIf="submitted && messageForm.controls.verifyCode.errors" class="error">
          <div *ngIf="messageForm.controls.message.errors.required">请输入验证码</div>
        </div>
      </label>

      <div class="checkbox mb-3">
        <input type="checkbox" value="rememberMe"> 自动登录
      </div>

      <input type="submit" value="登录" class="w-100 btn btn-lg btn-primary">
    </form>
  </div>

<footer class="footer m-auto py-3 bg-light" style="transform: translateY(900%);">
  <div class="container">
    <span class="text-muted m-auto">版权所有 @ 2020-2025 绿巨人数字技术有限公司</span>
  </div>
</footer>