<div style="width:40%; margin-left:30%;">

<h1>System Login</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" formControlName="username">
    <div *ngIf="submitted && messageForm.controls.username.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
    </div>
  </label>

  <label>
    password:
    <textarea formControlName="password"></textarea>
    <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
      <div *ngIf="messageForm.controls.message.errors.required">A password is required</div>
    </div>
  </label>

  <input type="submit" value="登录" class="cta">
</form>
</div>
