<h1>User Registration</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">login success!</h5>

  <label>
    Name:
    <input type="text" formControlName="username">
    <div *ngIf="submitted && messageForm.controls.username.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
    </div>
  </label>

  <label>
    password:
    <textarea formControlName="password"></textarea>
    <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
      <div *ngIf="messageForm.controls.message.errors.required">A password is required</div>
    </div>
  </label>
  重复密码：
  验证码：
  <input type="submit" value="注册" class="cta">

</form>
