<span>{{title}}</span>

<form #form="ngForm" class="tp-form" (ngSubmit)="onSubmit(form.value)">
   <div class="wrapper">
      <div>
         <label>角色名称</label>
      </div>
      <div>
         <input type="text" name="roleName" [(ngModel)]="roleName">
      </div>
   
      <div>
         <label>角色描述</label>
      </div>
      <div>
         <textarea type="text" name="roleDesc" [(ngModel)]="roleDesc"></textarea>
      </div>
   </div>
   
   <button mat-raised-button color="accent" type="submit">保存</button>
</form>