<span>{{title}}</span>

<form #form="ngForm" class="tp-form" (ngSubmit)="onSubmit(form.value)">
   <!-- <mat-form-field class = "tp-full-width">
      角色名称：<input matInput placeholder = "角色名称" value = "{{roleName}}">
   </mat-form-field>
   <mat-form-field class = "tp-full-width">
      角色描述：<input matInput placeholder = "角色描述" value = "{{roleDesc}}">
   </mat-form-field>

 <button mat-raised-button color="accent" (click)="saveRole()">Save</button> -->
   <div class="wrapper">
      <div>
         <label>角色名称</label>
      </div>
      <div>
         <input type="text" name="roleName" [(ngModel)]="roleName">
      </div>
   
      <div>
         <label>角色描述</label>
      </div>
      <div>
         <input type="text" name="roleDesc" [(ngModel)]="roleDesc">      
      </div>
   </div>
   <input type="submit" value="保存" class="cta">
</form>