<table style="width:100%" mat-table [dataSource]="dataList" class="mat-elevation-z8">
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let dataList; columns: columnsToDisplay"></tr>

    <!-- Position Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef style="width:200px;">Title</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef style="width:350px;">Content</th>
        <td mat-cell *matCellDef="let element"> {{element.content}}</td>
    </ng-container>

    <!-- row operation Column -->
    <!-- <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef style="width:80px;"> Operation </th>
        <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container> -->
    
</table>

<mat-paginator style="width: 100%;"
   [length] = "length"
   [pageSize] = "pageSize"
   [pageSizeOptions] = "pageSizeOptions"
   showFirstLastButtons
   (page) = "pageEvent = pageOptionChange()">
</mat-paginator>
