<table mat-table [dataSource]="myDataArray" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef> Content </th>
        <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myDataArray; columns: columnsToDisplay"></tr>
</table>