
<mat-icon>home</mat-icon>
<br />
<br />

<table>
    <tr>
        <td>菜单名称</td>
        <td>
            <mat-form-field class = "tp-full-width">
                <input matInput placeholder = "菜单名称" value="{{menuName}}">
             </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>菜单路径</td>
        <td>
            <mat-form-field class = "tp-full-width">
                <input matInput placeholder = "相对URL，例：home" value="{{menuUrl}}">
             </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>上级菜单</td>
        <td>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                   <mat-panel-description>
                      {{currentMenu}}
                   </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-tree [dataSource] = "dataSource" [treeControl] = "treeControl">
                    <mat-tree-node *matTreeNodeDef = "let node" matTreeNodeToggle matTreeNodePadding>
                       <button mat-icon-button disabled></button>
                       {{node.filename}} : {{node.type}}
                    </mat-tree-node>
                    <mat-tree-node *matTreeNodeDef = "let node;when: hasChild" matTreeNodePadding>
                       <button mat-icon-button matTreeNodeToggle [attr.aria-label] = "'toggle ' + node.filename">
                          <mat-icon class = "mat-icon-rtl-mirror">
                             {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                          </mat-icon>
                       </button>
                       {{node.filename}}
                    </mat-tree-node>
                 </mat-tree>
             </mat-expansion-panel>
        </td>
    </tr>
    <tr>
        <td>菜单序号</td>
        <td>
            <mat-form-field class = "tp-full-width">
                <input matInput type="number" placeholder = "排序" value="{{menuSort}}">
             </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>是否启用</td>
        <td>
            <mat-radio-group class = "tp-radio-group" [(ngModel)]="inUse">
                <mat-radio-button class = "tp-radio-button"
                   *ngFor = "let state of stateList" [value]="state">
                   {{state}}
                </mat-radio-button>
             </mat-radio-group>
        </td>
    </tr>
</table>

<button mat-raised-button color="accent" (click)="addMenu()">
    添加
 </button>


