<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <div class="wrapper">
        <div>
            <label>用户名：</label>
        </div>
        <div>
            <input type="text" name="username" [(ngModel)]="username" class="form-control">
        </div>
        <!-- formControlName="username"
        <div *ngIf="submitted && messageForm.controls.username.errors" class="error">
            <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
        </div> -->
        <div>
            <label>初始密码：</label>
        </div>
        <div>
            <input type="password" name="password" [(ngModel)]="password" class="form-control">
        </div>
        <!-- formControlName="password" -->
        <!-- <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
            <div *ngIf="messageForm.controls.message.errors.required">A password is required</div>
        </div> -->

        <div>
            <label>角色：</label>
        </div>
        <div>
            <ng-container *ngFor="let role of roleList"> <!-- todo 1.是否使用[(ngModel)]？2.login页面里面的class="checkbox mb-3"是干啥的？ -->
                <input type="checkbox" value="role.checked">{{role.roleName}}
            </ng-container>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">保存</button>
</form>
