
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>角色名称</th>
            <th>角色描述</th>
            <th>用户列表</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <!-- <tfoot>
        <tr>
            <th>Footer 1</th>
            <th>Footer 2</th>
            <th>Footer 3</th>
            <th>Footer 4</th>
            <th>Footer 5</th>
            <th>Footer 6</th>
        </tr>
    </tfoot> -->
    <tbody>
        <ng-container *ngFor="let role of dataList; let i=index">
            <tr>
                <td>{{i+1}}</td>
                <td>{{role.roleName}}</td>
                <td>{{role.description}}</td>
                <td></td>
                <td>{{role.createTime | date:'yyyy-MM-dd'}}</td>
                <td><a [routerLink]="['../addrole']" [queryParams]="{id:3}">编辑</a></td>
            </tr>
        </ng-container>
    </tbody>
</table>
