
<span>菜单权限</span>
<div>
   <p>角色</p>
   <select [(ngModel)]="roleId" name="roleId" (ngModelChange)="getRoleOptions()" class="form-select" aria-label="Default select example">
      <option *ngFor="let role of roleList" [value]="role.id">{{role.roleName}}</option>
    </select>
   <p>权限</p>
   <div>
      <ng-container *ngFor="let menu of menuList">
         <input type="checkbox" value="menu.hasPerm">{{menu.menuName}}
      </ng-container>
      <!-- [(ngModel)]="menu.hasPerm" -->
   </div>
</div>

<button (click)="savePermission()" class="btn btn-primary">Save</button>

<br />
多个多选框，参考添加用户的页面

每个占用col-lg-2的空间