<form #form="ngForm" class="tp-form" (ngSubmit)="onSubmit(form.value)">
   <div class="wrapper">
      <div>
         <label>角色名称</label>
      </div>
      <div>
         <input type="text" name="roleName" [(ngModel)]="roleName" class="form-control">
      </div>
   
      <div>
         <label>角色描述</label>
      </div>
      <div>
         <textarea type="text" name="roleDesc" [(ngModel)]="roleDesc" class="form-control" rows="3"></textarea>
      </div>
   </div>
   
   <button type="submit" class="btn btn-primary">保存</button>
</form>