<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;margin-right:15px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">菜单</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <ng-container *ngFor="let item of menuList">
      <li class="nav-item">
        <a href="#" class="nav-link link-dark" aria-current="page" [routerLink]="item.url">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          {{item.icon}}{{item.menuName}}
        </a>
      </li>
    </ng-container>
    </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>系统设置</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>

<!-- <sm-simple-sidenav
  [menu]="menu"
  [activeID]="'2'"
  [animation]="animation"
  [withArrow]="true"
  (onSidenav)="onClick($event)">
</sm-simple-sidenav> -->

<!-- <ng-material-multilevel-menu  
    [configuration]='config' 
    [items]='menuList'
    (selectedItem)="selectedItem($event)" 
    (selectedLabel)="selectedLabel($event)">
</ng-material-multilevel-menu> -->