<ng-container *ngFor="let item of menuList">
  <section class="tp-section">
    <mat-icon>{{item.icon}}</mat-icon><a [routerLink]="item.url">{{item.menuName}}</a>
  </section>
</ng-container>

<!-- <sm-simple-sidenav
  [menu]="menu"
  [activeID]="'2'"
  [animation]="animation"
  [withArrow]="true"
  (onSidenav)="onClick($event)">
</sm-simple-sidenav> -->

<!-- <ng-material-multilevel-menu  
    [configuration]='config' 
    [items]='menuList'
    (selectedItem)="selectedItem($event)" 
    (selectedLabel)="selectedLabel($event)">
</ng-material-multilevel-menu> -->