<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>账号</th>
            <th>角色【用磁贴样式】</th>
            <th>部门</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <!-- <tfoot>
        <tr>
            <th>Footer 1</th>
            <th>Footer 2</th>
            <th>Footer 3</th>
            <th>Footer 4</th>
            <th>Footer 5</th>
            <th>Footer 6</th>
        </tr>
    </tfoot> -->
    <tbody>
        <ng-container *ngFor="let user of dataList; let i=index">
            <tr>
                <td>{{i+1}}</td>
                <td>{{user.userName}}</td>
                <td></td>
                <td></td>
                <td>{{user.createTime | date:'yyyy-MM-dd'}}</td>
                <td></td>
            </tr>
        </ng-container>
    </tbody>
</table>
